html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px !important;
}

/* navbar */
.navbar-brand {
    font-family: 'Poppins';
}

.logo {
    font-size: 24px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #1F2044;
    font-family: 'Poppins';
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1F2044;
}

.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent; 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(asset/icon/hamburger.png);
    width: 30px;
    height: 30px;
}

span.contact {
    background-color: #1F2044;
    color: #fff;
    border: 2px solid #1F2044;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.8s;
}

span.contact:hover {
    background-color: #1b1d3d;
}

/* home */

.home {
    background-image: url(asset/img/home.svg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.home h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 107%; /* 77.04px */
}

.home p {
    color: #FFFFFA;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: 130%; /* 20.8px */
    letter-spacing: 1.28px;
}

.home button {
    background-color: #1E1E20;
    color: white;
    border-color: transparent;
    border-radius: 50px;
    padding: 10px 50px;
    font-weight: 500;
}

.home button:hover {
    background-color: #1E1E20;
    color: white;
    border-color: transparent;
}

/* tentang-kami */

.tentang-kami {
    margin-top: 60px;
    padding-top: 20px;
}

.tentang-kami .row .col-md-7 h5 {
    color: #FB8500;
    font-family: Satisfy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tentang-kami .row .col-md-7 h1 {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54.5px; /* 136.458% */
    margin-bottom: 15px;
}

.tentang-kami .row .col-md-7 p {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

.tentang-kami-list {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-left: 15px;
}

dd {
    display: list-item;
    list-style-type: "✔";
    padding-inline-start: 1ch;
}

dd::marker {
    color: #FB8500;;
}

/* detail */
/* .detail {
    margin-top: 60px;
    padding-top: 20px;
}

.detail h1 {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.5px;
    margin-bottom: 15px;
}

.detail p {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 30px;
}

.detail .container .d-flex .card {
    margin-bottom: 50px;
}

.detail .container .d-flex .card .card-body {
    text-align: center;
}

.detail .container .d-flex .card .card-body h6 {
    text-align: center;
    color: #1E1E20;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.detail .container .d-flex .card .card-body p {
    color: #1E1E20;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* detail */
.detail {
    margin-top: 60px;
    padding-top: 20px;
}

.detail .row .col-md-7 h5 {
    color: #FB8500;
    font-family: Satisfy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.detail .row .col-md-7 h1 {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54.5px;
    margin-bottom: 15px;
}

.detail .row .col-md-7 p {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

.detail-list {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-left: 15px;
}

/* manfaat */

h1.text-center.manfaat-title {
    margin-bottom: 30px;
}

.manfaat h1 {
    color: #1E1E20;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.5px; /* 136.458% */
    margin-bottom: 15px;
}

.manfaat .row .col-md-4 .row .col-11 h6 {
    color: #1E1E20;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.manfaat .row .col-md-4 .row .col-11 p {
    color: #1E1E20;
    text-align: right;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.manfaat-icon {
    order: 2;
}

.manfaat-text {
    order: 1;
}

/* quotes */

.quotes {
    background-color: #FB8500;
    padding: 80px 0;
}

.quotes h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%; /* 45.36px */
}

.quotes h5 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

/* footer */

.footer {
    background-color: #1E1E20;
}

.footer .container {
    padding: 80px 0 0 0;
}

.footer .row .col-md-5 h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .row .col-md-5 p {
    color: #E1E1E1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}